/* Reset default margin and padding for all elements */
html{
  margin: 5px;
  padding: 5px;
}
.head{
  display: flex;
  background-color: aqua;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  background: url(Picture/hospital.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-y: -240px;
}
button:hover{
  background-color: aliceblue;
}
#loginbtn{
  height: 35px;
  width: 100px;
  float: right;
}

header {
  background-color: #4caf50;

  padding: 20px;
  color: #fff;
  text-align: center;
}
header h1{
  width: fit-content;
}