/* Reset default margin and padding for all elements */
html {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d42121;
  color: #333;
  /* background: url(Picture/hospital.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -240px;
}
#headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 130px;
  width: 795px;
}
.headImage {
  display: flex;
}
#logo {
  height: 75px;
  width: 110px;
}

/*
.navbar {
  align-items: center;
  margin: 5px 0px;
  padding: 8px 120px;
  display: flex;
  background-color: red;
}
 .navbar textarea {
  width: 191px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  padding-right: 10px;
  margin-right: 0;
}
.navbar button {
  margin: 5px 5px 5px 5px;
  height: 10px;
  width: 20px;
  font-weight: 900;
  border-radius: 0 5px 5px 0;
}
.navbar li {
  display: block;
  margin: 0px 30px;
  padding: 3px;
  list-style-type: none;
  height: fit-content;
  width: fit-content;
} */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  margin-top: 5px;
}
.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a:active {
  color: #000000;
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #000000;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#search {
  display: flex;
  width: 20%;
  margin: 5px 0px;
}
#search input {
  height: 20px;
  padding: 1px;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#search button {
  border: none;
  font-size: larger;
  background-color: #9ba0e3;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#search button:hover {
  cursor: pointer;
  background-color: #6b73e9;
}
