
html {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2ebeb;
  color: #333;
  /* background: url(Picture/hospital.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -240px;
}
#headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 130px;
  width: 735px;
}
.headImage {
  display: flex;
}
#logo {
  height: 75px;
  width: 110px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 73, 73);
  margin-top: 5px;
}
.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a:active {
  color: #000000;
}
.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #000000;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#search {
  display: flex;
  width: 20%;
  margin: 5px 0px;
}
#search input {
  height: 20px;
  padding: 1px;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#search button {
  border: none;
  font-size: larger;
  background-color: #9ba0e3;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#search button:hover {
  cursor: pointer;
  background-color: #6b73e9;
}
.login{
  border: solid #ac6969 1px;
  border-radius: 5px 5px 0 0;
  display: flex;
}
#loginForm{
  margin: 15px 15px 0px 25px;
}
#banner{
  padding: 3px;
  height: 10%;
  width: 50%;
}
.suff_box{
  background-color: rgba(33,33,33,0.5);
  border-radius: 8px;
  border-color: wheat;
  border: 3px solid #4f4e4d;
  margin: 50px 0 0 150px;
  padding: 5px 5px 5px 5px; 
  width: 310px;
  height: 360px;
}
.input_field{
  color: white;
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-size: x-large; 
  box-sizing: border-box;
}
.title{
  color: white;
  justify-content: center;
  margin: 10px;
  display: flex;
  font-size: xx-large;
}
.login button{
  box-shadow: #ff0000;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.627);
  width: 115px;
  height: 30px;
  text-align: center;
  font-size: larger;
  color: beige ;
  margin: 0 0 0 90px;
  
}
.login button:hover{
  background: #b7aeae;
  cursor: pointer;
}
#signup a{
  text-decoration: none;
  color: beige ;
  font-size: large;
}
#signup{
  margin: 8px 0 0 90px;
}
.suff_box input{
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 1%;
  width: 98%;
  box-sizing: border-box;
}
.text{
  display: inline;
  height: 0;
  width: 0;
  padding-left: 2.5%;
  overflow: visible;
  font-size: x-large;
}
select{
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 1%;
  width: 98%;
  box-sizing: border-box;
}
.login span{
  margin-left: 15px;
}
#searchInformation{
  display: flex;
  margin: 0px 15px 0px 25px;
  padding: 10px 15px;
  background-color:rgb(246, 73, 73) ;

}
.searchIcons{
  margin: 0 90px;


}
.searchIcons img{
  height: 75px;
  width: 74px;
  padding: 0 5px;
}
.searchIcons a{
  text-decoration: none;
  color: #ffffff;
  align-self: center;
}
.searchIcons a:hover{
  text-decoration: underline;
}

#bloodComp{
  margin: 0px 15px 15px 25px;
  border: solid #ac6969 1px;
  display: flex;
  /* padding: 10px 15px; */
}
.compactibility{
  margin: 0px 15px 2px 0;
}
.compactibility img{
  height: 290px;
  width: 385px;
}
#donor{
  margin: 0px 35px 0 0;
}
#compt{
  padding: 10px 35px 10x 35px;
}
#camp{
  border: 1px solid rgb(228, 133, 133);
  margin: 2px 0 2px 35px;
}
#camp th{
  background:#f2baba ;
  padding: 0 0 0 0px;
  height: 50px;
}
#camp td{
  height: 250px;
  width: 385px;
  content-visibility: hidden;
}